body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;
    background-color: #C1B7A8;
    border: 6px solid #D1C6B9;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    background-color: #D1C6B9;
    width: 90px;
    height: 60px;
    border-radius: 3px;
    font-size: 15px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #D1C6B9;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x2 {
    background-color: #86775F;
    color: #ffb26b;
}

.x4 {
    background-color: #FFCD9B;
    color: #86775F;
}

.x8 {
    background-color: #ffcba4;
    color: #86775F;
}

.x16 {
    background-color: #ffa089;
    color: white;
}

.x32 {
    background-color: #ff7f50;
    color: white;
}

.x64 {
    background-color: #ff4500;
    color: white;
}

.x128 {
    background-color: #fff44f;
    color: #86775F;
}

.x256 {
    background-color: #efcc00;
    color: #86775F;
}

.x512 {
    background-color: #eed202;
    color: #86775F;
}

.x1024 {
    background-color: #ffdf00;
    color: #86775F;
}

.x2048 {
    background-color: #ffc40c;
    color: white;
}